//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.chekedDateOfWeek
   display: flex      
   align-items: center
   justify-content: center
   color: #FFFFFF
   background: #0B3157
   border-radius: 5px
   font-family: Montserrat
   font-size: 16px
   font-weight: 400
   letter-spacing: -0.28px
   width: 40px
   height: 40px
   text-align: center
   cursor: pointer 


.dateOfWeek
   display: flex
   align-items: center
   justify-content: center
   color: #0B3157
   background: #FFFFFF
   border-radius: 5px
   font-family: Montserrat
   font-size: 16px
   font-weight: 400
   letter-spacing: -0.28px
   width: 40px
   height: 40px
   text-align: center
   cursor: pointer
